.container {
  padding: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  max-width: 1440px;
  min-width: 944px;
  min-height: 700px;
  margin: auto;

  .left {
    width: 45%;
    height: 100%;
    border-radius: 64px;
    border: 1px solid rgba(234, 234, 234, 1);
    display: flex;
    align-items: center;
    .carousel {
      width: 100%;
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        .text {
          width: 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 10px;
          .big {
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 0px;
            line-height: 32px;
          }
          .small {
            /** 文本1 */
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0px;
            line-height: 26px;
          }
        }
      }
      :deep(.el-carousel__button) {
        background-color: rgba(82, 195, 255, 1);
      }
    }
  }

  .right {
    width: 45%;
    height: 100%;
    position: relative;
    .backButton {
      position: absolute;
      left: 0;
      &:hover {
        cursor: pointer;
      }
    }
    .title {
      width: 70%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      .titleText {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0px;
        line-height: 32px;
      }
      .tip {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 26px;
        text-align: center;
      }
    }
    .login {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      gap: 40px;
      .inputGroup {
        .loginItem {
          display: flex;
          flex-direction: column;
          gap: 10px;
          position: relative;
          .textItem {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0px;
            line-height: 24px;
            color: rgba(109, 109, 120, 1);
          }
          .forgetPassword {
            position: absolute;
            right: 0;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0px;
            line-height: 24px;
          }
          .forgetPassword:hover {
            cursor: pointer;
          }
          .input {
            position: relative;
            .inputItem {
              width: 100%;
              height: 64px;
              border-radius: 20px;
              border: 1px solid rgba(234, 234, 234, 1);
              font-size: 20px;
              font-weight: 400;
              letter-spacing: 0px;
              line-height: 24px;
              color: rgba(109, 109, 120, 1);
              outline: none;
              padding: 0 60px;
            }
            .inputItem:focus {
              border: 2px solid rgba(82, 195, 255, 1);
              color: rgba(23, 34, 57, 1);
            }
            .imgItem {
              position: absolute;
              top: 50%;
              left: 20px;
              transform: translateY(-50%);
            }
          }
        }
        .password {
          margin-top: 30px;
        }
      }
    }
    .buttonGroup {
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: absolute;
      bottom: 0;
      width: 100%;
      .buttonItem {
        height: 64px;
        border-radius: 20px;
        background: rgba(255, 223, 214, 1);
        position: relative;
        .text {
          font-size: 20px;
          font-weight: 600;
          letter-spacing: 0px;
          line-height: 32px;
          text-align: center;
          line-height: 64px;
        }
        .imageItem {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .buttonItem:hover {
        cursor: pointer;
      }
    }
  }
}
